NODE_ENV=development

DATABASE_URL=postgres://glimps:glimps@localhost:3100/glimps
REDIS_URL=redis://localhost:3110

LOG_LEVEL=info

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=glimps-worker

MEDIA_STORAGE_PATH=/app/media